@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --contexify-menu-bgColor: #3a3b3f !important;
    --contexify-separator-color: #4c4c4c !important;
    --contexify-item-color: #fff !important;
    --contexify-activeItem-color: #fff !important;
    --contexify-activeItem-bgColor: #4b4e53 !important;
    --contexify-rightSlot-color: #6f6e77 !important;
    --contexify-activeRightSlot-color: #fff !important;
    --contexify-arrow-color: #6f6e77 !important;
    --contexify-activeArrow-color: #fff !important;
  }
}
